nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav li a {
  color: black;
  font-size: 50px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

nav li a:link, nav li a:visited {
  color: black;
}

nav img {
  height: 65px;
  display: flex;
}

#list {
}

body {
  background-color: rgb(255, 128, 176)
}

#les h1 {
  font-family: monospace, Monaco;
  font-size: 55px;
  text-shadow: 2px 2px rgb(230,232,250);
}

h1 {
  font-family: monospace, Monaco;
  font-size: 55px;
}

#path {
  height: 400px;
  width: 600px;
  border-radius: 10px;
}
.bot p {
  font-size: 25px;
  color: black;
}
.bot li {
  font-size: 20px;
  color: black;
}

.movielist {
  color: black;
  font-size: 20px;
}

#honestly {
  font-size: 25px;
  color: black;
}

.bandlist {
  font-size: 20px;
}

#names {
  font-size: 20px;
  list-style: none;
  color: rgb(168, 0, 62)
}

#title {
  font-size: 100px;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin-bottom: 120px;
}

#rating {
  font-size: 80px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 20px;
  height: 100px;
  width: 140px;
  border: 4px solid black;
  border-radius: 50%;
  padding: 25px;
}
#rating-2 {
  font-size: 80px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 20px;
  height: 105px;
  width: 200px;
  border: 4px solid black;
  border-radius: 50%;
  padding: 25px;
}

#write-out {
  font-size: 35px;
  width: 900px;
  margin-left: 30px;
  z-index: 1;
}

#imagi-img {
  float: right;
  height: 650px;
  width: 450px;
  margin-right: 20px;
  margin-left: 20px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
}

#main-pages {
  position: absolute;
  bottom: 0;
  left: 0;
}

#index-page {
  position: relative;
  bottom: 0;
  left: 0;
  padding-top: 100%;
}
#sarah {
  padding-left: 45%;
  height: 30%;
  width: 30%;
  position: relative;
}
